html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    
  
    
}

::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
}
  
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
  
#particles-js {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#nameHeader {
  background-color: rgba(255, 0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  position: sticky;
  top: 0;
  margin-top: 15%;
  width: 100%;
  
}

h1 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.233);
}

h1:hover {
  color: white;
  transition: ease-out .3s;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.534);
}

#navRow {
  text-align: center;
  position: sticky;
  top: 2rem;
}

.navButtons {
  font-size: 18px;
  position: relative;
  color: rgb(0, 0, 0);
}

.navButtons:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: ease-out .3s;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.534);
}

#skillsRow, #portfolioRow {   
  display: flex;
  justify-content: center;
}

#skillContain { 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  height: 25rem;
  border: 1px solid rgba(0, 0, 0, 0.151);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#portfolioRow {
  margin: 0 auto;
}

#contactRow {
  padding: 10%;
}

#top {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.466);
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 50%;
}

.projects {
  background-color: red;
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.459);
  width: 25rem !important
}

.card:hover {
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.596);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.card-body {
  background-color: rgba(0, 0, 0, 0.842); 
  border: 1px white solid
}

#dayPlanner {
  background-image: url("../images/dayplannerss.png");
  background-size: cover;
  background-position: center;
}

#weatherDashboard {
  background-image: url("../images/weather.png");
  background-size: cover;
  background-position: center;
}

#stonks {
  background-image: url("../images/stonksSS.png");
  background-size: cover;
  background-position: center;
}

#digitalAssetMonitor {
  background-image: url("../images/DAM.png");
  background-size: cover;
  background-position: center;
}

#noteTaker{
  background-image: url("../images/notes.png");
  background-size: cover;
  background-position: center;
}

#burgerApp {
  background-image: url("../images/burger.png");
  background-size: cover;
  background-position: center;
}

.btn {
  border-radius: 0px;;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fab, .fas{
  margin: 5px;
  color: rgba(32, 32, 32, 0.596);
}

#linkedIn:hover, #github:hover, #resume:hover{
  background: -webkit-gradient(linear, right top, left bottom, from(rgb(0, 132, 255)), to(rgb(255, 0, 212)));
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
  transition-duration: 5s;
  cursor: pointer;
}

.form-control {
  outline: none;
  margin: 0 auto;
}

#button:hover {
  background-color: rgb(2, 0, 36);
  transition: 1s;
}

#topQuote {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
}



@media only screen and (max-width: 500px) {
  #skillRow, #portfolioRow, #contactRow {
    margin-top: 50%
  }
  #build {
    margin-top: 15%;
  }

  #top {
    margin: 50% auto 80% auto;
  }

  .card {
    max-height: 250px;
    max-width: 250px;
    font-size: 12px;
    padding: 0;
  }
}


 


















